<div class="navbar-default sidebar sidebar-scrolling" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active"> 
            	<a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> 
            </li>
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.add_crm_user=='1' "> 
                <a ui-sref="dashboard.addCrmUser"><i class="fa fa-user"></i> Add CRM User</a> 
            </li>      
			<li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.add_potential_user=='1' "> 
                <a ui-sref="dashboard.addeditPotentialUserCtrl"><i class="fa fa-user"></i> Add Potential User</a> 
            </li>  

			<li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.add_products=='1' "> 
                <a ui-sref="dashboard.addCrmProduct"><i class="fa fa-database"></i> Add CRM Products</a> 
            </li>
            <li ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.transaction=='1' ">
            	<a ui-sref="dashboard.transaction"><i class="fa fa-credit-card"></i> Transaction(s) </a>
            </li>    

			<li ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.clientResigestred_list=='1' ">
            	<a ui-sref="dashboard.clientRegistered"><i class="fa fa-credit-card"></i> Client Registered Today </a>
            </li>
            <li ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.abandond_cart_list=='1' ">
            	<a ui-sref="dashboard.abandondCartList"><i class="fa fa-list-alt"></i> Abandond Cart List</a>
            </li>
            <li ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.advance_member_search=='1' ">
            	<a ui-sref="dashboard.advancedMemberSearch"><i class="fa fa-search"></i> Advance Member Search</a>
            </li>
            <li ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.search_client_information=='1' ">
            	<a ui-sref="dashboard.searchClientInformation"><i class="fa fa-search-plus"></i>
                 Search Client Information</a>
            </li>
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.transaction_search=='1' ">
                <a ui-sref="dashboard.transactionSearch"><i class="fa fa-search-plus"></i> Transaction Search</a>
            </li> 
	   <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.sale_n_transactions=='1' ">
                <a ui-sref="dashboard.salesAndTransactions"><i class="fa fa-credit-card"></i> Sales & Transactions</a>
            </li>            
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.performa_invoice_search=='1' ">
                <a ui-sref="dashboard.performaInvoiceSearch"><i class="fa fa-search-plus"></i> Performa Invoice Search</a>
            </li>
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.recent_cancelled_transaction=='1' ">
                <a ui-sref="dashboard.recentCancelledTransaction"><i class="fa fa-credit-card"></i>
                 Recent Cancelled Transaction</a>
            </li>
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.download_facility=='1' ">
                <a ui-sref="dashboard.downloadFacility"><i class="fa fa-download"></i> Download Facility</a>
            </li>
			<li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.download_on_behalf=='1' ">
				<a ui-sref="dashboard.downloadOnbehalf"><i class="fa fa-download"></i> Download OnBehalf</a>
			</li>
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.low_remaning_credit=='1' ">
                <a ui-sref="dashboard.lowRemaningCreditList"><i class="fa fa-credit-card"></i> Low Remaning Credit List</a>
            </li> 
            <li ui-sref-active="active" ng-if="sidebarAuth.type=='ADMIN' || sidebarAuth.daily_tasks=='1' ">
            	<a ui-sref="dashboard.daily-tasks"><i class="fa fa-university fa-fw"></i>Daily Tasks</a>
            </li>            
            <li ui-sref-active="active"> 
                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a> 
            </li>
            <li ui-sref-active="active"> 
            	<a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a> 
            </li>
            <li ui-sref-active="active"> <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a> </li>
            <li ng-class="{active: collapseVar==1}">{{dropDown}} <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active"> <a ui-sref="dashboard.panels-wells">Panels and Wells</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="dashboard.buttons">Buttons</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="dashboard.notifications">Notifications</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="dashboard.typography">Typography</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="dashboard.icons"> Icons</a> </li>
                    <li ui-sref-active="active"> <a ui-sref="dashboard.grid">Grid</a> </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}"> <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li> <a href="">Second Level Item</a> </li>
                    <li> <a href="">Second Level Item</a> </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}"> <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li> <a href="">Third Level Item</a> </li>
                            <li> <a href="">Third Level Item</a> </li>
                            <li> <a href="">Third Level Item</a> </li>
                            <li> <a href="">Third Level Item</a> </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==4}"> <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='blank'}"> <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a> </li>
                    <li> <a ui-sref="login">Login Page</a> </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>