<div class="container-fluid" ng-controller="AddCrmUserCtrl as vm">
	<div class="row mtxl">
      <div class="col-md-12 col-sm-12">
		 <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>Add/Edit CRM User</strong>
					</div>
					<div class="panel-body">
						<form role="form" name="crmMember" method="post" ng-submit="addUpdateCrmMember()">
							<div ng-if="crmMember.$error.usernameExists" align="center" class="alert alert-danger">Already exist</div>	
							<div class="row">
									<div class="col-lg-4 col-md-4 col-xs-4">
										<div class="form-group">
												<label>First Name</label>
												<input class="form-control" placeholder="Please Enter First Name" name="firstname" ng-model="vm.formData.firstname" type="text"  ng-blur="firstName = commonService.checkElementLength(vm.formData,'firstname');" required ng-class="{myBlur:firstName}">
										</div>
										<div class="form-group">
											<label>UserName</label>
											<input class="form-control" placeholder="Please Enter UserName" name="username" ng-model="vm.formData.username" type="text"  ng-blur="username = commonService.checkElementLength(vm.formData,'username');" required ng-class="{myBlur:username}" username-email-available>
										</div>	
										<div class="form-group">
											<label>Designation</label>
											<select class="form-control" ng-model="vm.formData.type" ng-init="vm.formData.type=''" name="type" ng-blur="type = commonService.checkElementLength(vm.formData,'type');" required ng-class="{myBlur:type}">
												<option value="" >---Please select---</option> 
												<option value="CRMUSERS">Staff</option>
												<option value="SALES">Sales</option>
											</select>
										</div>	
										<div class="form-group">											
										<crm-authorise-fields></crm-authorise-fields>
										
											
										</div>
									</div>
									<!-- /.col-lg-6 (nested) -->
									<div class="col-lg-4 col-md-4 col-xs-4">
										<div class="form-group">
											<label>Last Name</label>
											<input class="form-control" placeholder="Please Enter Last Name" name="lastname" ng-model="vm.formData.lastname"
											type="text"  ng-blur="lastname = commonService.checkElementLength(vm.formData,'lastname');" required ng-class="{myBlur:lastname}"
											>
										</div>										
										<div class="form-group" ng-if="!vm.formData.id" >
											<label>Password</label>
											<!--<input ng-if="vm.formData.id" class="form-control" placeholder="Please Enter Password" name="password" ng-model="vm.formData.password"
											type="password"
											>-->
											<input ng-if="!vm.formData.id" class="form-control" placeholder="Please Enter Password" name="password" ng-model="vm.formData.password"
											type="password"  ng-blur="password = commonService.checkElementLength(vm.formData,'password');" required ng-class="{myBlur:password}" >
										</div>	

									</div>
									<!-- /.col-lg-6 (nested) -->
									<!-- /.col-lg-6 (nested) -->
									<div class="col-lg-4 col-md-4 col-xs-4">
										<div class="form-group">
											<label>Email ID</label>
											<input class="form-control" placeholder="Please Enter Email ID" name="email" ng-model="vm.formData.email"
											type="email"  ng-blur="email = commonService.checkElementLength(vm.formData,'email');" required ng-class="{myBlur:email}"
											username-email-available>
										</div>
										<!--<div class="form-group">
											<label>Choose States</label>
											<states statesvalues="allstates"></states>
											{{vm.formData.state}}

										</div>-->
										<country-with-states-with-cites requiredfields="state" ></country-with-states-with-cites>
									</div>
									<!-- /.col-lg-6 (nested) -->								
							</div>
							<!-- /.row (nested) -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12" align="center">
									<button type="submit" class="btn btn-primary" ng-disabled="crmMember.$invalid">{{buttonText}}</button>
									<button type="button" class="btn btn-danger" ng-click="resetFormToAddUser()">Reset</button>
								</div>
							</div>
						</form>
						<!--form ended-->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
      </div>
	</div>
	<!--Modal HTML specific to Page-->
	<div id='operationMessage' ng-if="!dataLoading">{{message}}</div>
	<div class="row mtxl" >			
		<modal-dialog show='modalShown' width="226px" height="124px">		  
		  	<div class="row mtxl" >
			  	<div class="col-md-12 col-sm-12" align="center">
			  		Are you sure want to delete this User?
			  	</div>
		  	</div>
		  	<div class="row mtxl" >
			  	<div class="col-md-12 col-sm-12" align="center">		  		
			  		<button type="button" class="btn btn-primary" ng-click="deleteUser()">Delete</button>
					<button type="button" class="btn btn-danger" ng-click="toggleModal()">Cancel</button>
			 	</div>
		 	</div>
		</modal-dialog>
	</div>
	<!--Modal HTML specific to Page-->
	<image src="images/loading_spinner.gif" class="col-md-offset-5 loading" ng-if="dataLoading">	 
	<div class="row mtxl" ng-if="gridOptions.data!=null && gridOptions.data.length>0">
      	<div class="col-md-12 col-sm-12" align="right">
    		<button id='toggleFiltering' ng-click="commonService.toggleFiltering(scope)" class="btn btn-success">Filter</button>
    	</div>	
	</div>		
	<div class="row mtxl" ng-if="gridOptions.data!=null && gridOptions.data.length>0">
      <div class="col-md-12 col-sm-12">
      	<div ui-grid-grouping ui-grid="gridOptions" class="panel panel-primary grid"></div>
	  </div>	
	</div>
	<div class="row alert alert-info" ng-if="gridOptions && gridOptions.data.length==0" align="center">
	    No Data Found.
	</div>
</div>