<div class="container-fluid" ng-controller="RecentCancelledTransactionCtrl as vm">
    <div class="mtl text-size">Recent 100 Transactions Cancelled 
       <hr class="line-color">
    </div>
  <image src="images/loading_spinner.gif" class="col-md-offset-5 loading" ng-if="vm.dataLoading">  
  <div ng-if="vm.gridOptions && vm.gridOptions.data.length>0">
    <ui-custom-grid options="vm.gridOptions" class="grid"></ui-custom-grid>
  </div>
  <div class="row alert alert-info" ng-if="gridOptions && gridOptions.data.length==0" align="center">
        No Data Found.
  </div>
</div>