<label>Assign the authorise Fields</label><br>

	<input type="checkbox"  class="ng-touched" data-ng-model="vm.formData.add_crm_user" id="add_crm_user"  ng-true-value="1" ng-false-value="0" ><i class="fa fa-user"></i> Add CRM User</a> <br>

	<input type="checkbox" data-ng-model="vm.formData.add_products" ng-true-value="1" ng-false-value="0" ><i class="fa fa-database"></i> Add CRM Products <br>
	<input type="checkbox" ng-model="vm.formData.transaction" ng-true-value="1" ng-false-value="0"><i class="fa fa-credit-card"></i> Transaction(s) <br>	
	
	<input type="checkbox"  ng-model="vm.formData.abandond_cart_list" ng-true-value="1" ng-false-value="0"><i class="fa fa-list-alt"></i> Abandond Cart List  <br>
	<input type="checkbox"  ng-model="vm.formData.advance_member_search" ng-true-value="1" ng-false-value="0"><i class="fa fa-search"></i> Advance Member Search <br>
	<input type="checkbox"  ng-model="vm.formData.search_client_information" ng-true-value="1" ng-false-value="0"><i class="fa fa-search-plus"></i> Search Client Information <br>	
	
	<input type="checkbox"  ng-model="vm.formData.transaction_search" ng-true-value="1" ng-false-value="0"> <i class="fa fa-search-plus"></i> Transaction Search <br>
	<input type="checkbox"  ng-model="vm.formData.sale_n_transactions" ng-true-value="1" ng-false-value="0"><i class="fa fa-credit-card"></i> Sales & Transactions <br>
	<input type="checkbox"  ng-model="vm.formData.performa_invoice_search" ng-true-value="1" ng-false-value="0"><i class="fa fa-search-plus"></i> Performa Invoice Search <br>
	
	<input type="checkbox"  ng-model="vm.formData.recent_cancelled_transaction" ng-true-value="1" ng-false-value="0"><i class="fa fa-credit-card"></i>Recent Cancelled Transaction <br>	
	

	<input type="checkbox"  ng-model="vm.formData.download_facility" ng-true-value="1" ng-false-value="0"><i class="fa fa-download"></i> Download Facility <br>
	<input type="checkbox"  ng-model="vm.formData.download_on_behalf" ng-true-value="1" ng-false-value="0"><i class="fa fa-download"></i> Download OnBehalf <br>
	
	<input type="checkbox" ng-model="vm.formData.low_remaning_credit" ng-true-value="1" ng-false-value="0"><i class="fa fa-credit-card"></i> Low Remaning Credit List <br>	
	
	<input type="checkbox"  ng-model="vm.formData.daily_tasks" ng-true-value="1" ng-false-value="0"><i class="fa fa-university fa-fw"></i>Daily Tasks <br>
	<input type="checkbox"  ng-model="vm.formData.add_potential_user" ng-true-value="1" ng-false-value="0"><i class="fa fa-university fa-fw"></i>Add Potential User<br>
	<input type="checkbox"  ng-model="vm.formData.clientResigestred_list" ng-true-value="1" ng-false-value="0"><i class="fa fa-university fa-fw"></i>Add Potential User<br>


