<div class="form">
   <div id="signup">
       <form action="/" name="forgotForm" method="post" ng-submit="forgotData(user)">
      <div class="field-wrap">
         <input type="email"required autocomplete="off"  placeholder="Registered E-mail"  ng-model="user.registeredEmail" ng-blur="blur=true" name="registeredEmail"  required ng-class="{myBlur:blur}" required/>
         <p class="validat-text-clr" ng-show="forgotForm.registeredEmail.$touched && forgotForm.registeredEmail.$invalid">Please Enter  Your Registered  E-mail</p>
      </div>
   </div>
   <input type="submit" class="button btn" ng-disabled="forgotForm.$invalid" value="Submit"/>
   </form>
</div>